/* CodeExplainer.css */

.explainer-container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgb(102, 194, 255);
  border-radius: 20px;
  border: 6px solid #130608;
  box-shadow: 0 0 6px rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  text-align: center;
  animation: fadeIn 1s ease;
}

h1 {
  font-family: 'Audiowide', cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #afd8eb;
}

textarea {
  width: 100%;
  min-height: 160px;
  margin-top: 0.5rem;
  padding: 0rem;
  border: 6px solid #130608;
  border-radius: 12px;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: #ffffff;
  resize: vertical;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
}

textarea:focus {
  border-color: #008fb3;
  outline: none;
}

button {
  padding: 0.75rem 1.5rem;
  background-color: #18a1e0;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:disabled {
  background-color: #0180ca;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #005a96;
  transform: scale(1.03);
}

.output-container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgb(102, 194, 255);
  border-radius: 20px;
  border: 6px solid #130608;
  box-shadow: 0 0 6px rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  text-align: center;
  animation: fadeIn 1s ease;
}

.output-box {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(253, 253, 253);;
  border-radius: 15px;
  border: 6px solid #000000;
  text-align: left;
}

.output-box h2 {
  color: #59b8e4;
  margin-bottom: 0.5rem;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  color: #000000;
}

.error {
  color: red;
  margin-top: 2rem;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
